In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [42]:
# df = pd.DataFrame({"word": [], "business": [], "entertainment": [], "sport": [], "tech": [], "politics": []})
# df['business'] = df['business'].astype(int)
# df['entertainment'] = df['entertainment'].astype(int)
# df['sport'] = df['sport'].astype(int)
# df['tech'] = df['tech'].astype(int)
# df['politics'] = df['politics'].astype(int)

In [2]:
df = pd.read_csv("important_words.csv")
df

                        word  business  entertainment  sport  tech  politics
0                        3-d         0              1      0     0         0
1                         3d         0              1      0     0         0
2     access to the internet         0              0      0     1         0
3                     accoun         1              0      0     0         0
4             account number         1              0      0     0         0
...                      ...       ...            ...    ...   ...       ...
1448                zarzuela         0              1      0     0         0
1449     zero interest rates         1              0      0     0         0
1450            zombie funds         1              0      0     0         0
1451                     zoo         0              1      0     0         0
1452                    épée         0              0      1     0         0

[1453 rows x 6 columns]

# Business

https://www.enchantedlearning.com/wordlist/office.shtml

In [44]:
r = requests.get("https://www.enchantedlearning.com/wordlist/office.shtml") #將此頁面的HTML GET下來
soup = BeautifulSoup(r.text,"html.parser") #將網頁資料以html.parser
sel = soup.select("div.wordlist-item") #取HTML標中的 <div class="title"></div> 中的<a>標籤存入sel
for s in sel:
    text = s.text.lower()
    if any(df["word"] == text):
        df.loc[df["word"] == text, 'business'] = 1
    else:
        new_word = pd.DataFrame({"word": [text], "business": [1], "entertainment": [0], "sport": [0], "tech": [0], "politics": [0]})
        df = pd.concat([df, new_word], ignore_index=True)

https://www.theguardian.com/business/glossary-business-terms-a-z-jargon

In [45]:
r = requests.get("https://www.theguardian.com/business/glossary-business-terms-a-z-jargon") #將此頁面的HTML GET下來
soup = BeautifulSoup(r.text,"html.parser") #將網頁資料以html.parser
sel = soup.select("p.dcr-n6w1lc a") #取HTML標中的 <div class="title"></div> 中的<a>標籤存入sel
for s in sel:
    text = s.text.lower()
    if any(df["word"] == text):
        df.loc[df["word"] == text, 'business'] = 1
    else:
        new_word = pd.DataFrame({"word": [text], "business": [1], "entertainment": [0], "sport": [0], "tech": [0], "politics": [0]})
        df = pd.concat([df, new_word], ignore_index=True)

https://www.excellentesl4u.com/esl-banking-vocabulary.html

In [46]:
r = requests.get("https://www.excellentesl4u.com/esl-banking-vocabulary.html") #將此頁面的HTML GET下來
soup = BeautifulSoup(r.text,"html.parser") #將網頁資料以html.parser
sel = soup.select("div.Liner ul li b") #取HTML標中的 <div class="title"></div> 中的<a>標籤存入sel
for s in sel:
    text = s.text.lower()
    if any(df["word"] == text):
        df.loc[df["word"] == text, 'business'] = 1
    else:
        new_word = pd.DataFrame({"word": [text], "business": [1], "entertainment": [0], "sport": [0], "tech": [0], "politics": [0]})
        df = pd.concat([df, new_word], ignore_index=True)

# Entertainment

https://www.vocabulary.com/lists/28741

In [47]:
r = requests.get("https://www.vocabulary.com/lists/28741") #將此頁面的HTML GET下來
soup = BeautifulSoup(r.text,"html.parser") #將網頁資料以html.parser
sel = soup.select("a.word") #取HTML標中的 <div class="title"></div> 中的<a>標籤存入sel
for s in sel:
    text = s.text[1:].lower()
    if any(df["word"] == text):
        df.loc[df["word"] == text, 'entertainment'] = 1
    else:
        new_word = pd.DataFrame({"word": [text], "business": [0], "entertainment": [1], "sport": [0], "tech": [0], "politics": [0]})
        df = pd.concat([df, new_word], ignore_index=True)

https://www.myenglishpages.com/english/vocabulary-lesson-entertainment.php

https://www.collinsdictionary.com/word-lists/entertainment-types-of-entertainment

https://www.myenglishlanguage.com/essential-vocabulary/entertainment/

# Sports

https://www.keysearch.co/top-keywords/sports-keywords

https://www.englishclub.com/vocabulary/sports-vocab.php

In [49]:
r = requests.get("https://www.englishclub.com/vocabulary/sports-vocab.php") #將此頁面的HTML GET下來
soup = BeautifulSoup(r.text,"html.parser") #將網頁資料以html.parser
sel = soup.select("div p strong") #取HTML標中的 <div class="title"></div> 中的<a>標籤存入sel
for s in sel:
    text = s.text.lower()
    if any(df["word"] == text):
        df.loc[df["word"] == text, 'sport'] = 1
    else:
        new_word = pd.DataFrame({"word": [text], "business": [0], "entertainment": [0], "sport": [1], "tech": [0], "politics": [0]})
        df = pd.concat([df, new_word], ignore_index=True)

https://www.enchantedlearning.com/wordlist/sports.shtml

In [50]:
r = requests.get("https://www.enchantedlearning.com/wordlist/sports.shtml") #將此頁面的HTML GET下來
soup = BeautifulSoup(r.text,"html.parser") #將網頁資料以html.parser
sel = soup.select("div.wordlist-item") #取HTML標中的 <div class="title"></div> 中的<a>標籤存入sel
for s in sel:
    text = s.text.lower()
    if any(df["word"] == text):
        df.loc[df["word"] == text, 'sport'] = 1
    else:
        new_word = pd.DataFrame({"word": [text], "business": [0], "entertainment": [0], "sport": [1], "tech": [0], "politics": [0]})
        df = pd.concat([df, new_word], ignore_index=True)

https://www.excellentesl4u.com/esl-sport-vocabulary.html

In [51]:
r = requests.get("https://www.excellentesl4u.com/esl-sport-vocabulary.html") #將此頁面的HTML GET下來
soup = BeautifulSoup(r.text,"html.parser") #將網頁資料以html.parser
sel = soup.select("div.Liner p b") #取HTML標中的 <div class="title"></div> 中的<a>標籤存入sel
for s in sel:
    text = s.text.lower()
    if any(df["word"] == text):
        df.loc[df["word"] == text, 'sport'] = 1
    else:
        new_word = pd.DataFrame({"word": [text], "business": [0], "entertainment": [0], "sport": [1], "tech": [0], "politics": [0]})
        df = pd.concat([df, new_word], ignore_index=True)

# Tech

https://www.ieltsjacky.com/technology-vocabulary.html

https://skillcrush.com/blog/99-tech-terms/

https://www.ieltspodcast.com/ielts-speaking/modern-technology/

In [52]:
r = requests.get("https://www.ieltspodcast.com/ielts-speaking/modern-technology/") #將此頁面的HTML GET下來
soup = BeautifulSoup(r.text,"html.parser") #將網頁資料以html.parser
sel = soup.select("div.col-12 ol li strong") #取HTML標中的 <div class="title"></div> 中的<a>標籤存入sel
for s in sel:
    text = s.text.lower()
    if any(df["word"] == text):
        df.loc[df["word"] == text, 'tech'] = 1
    else:
        new_word = pd.DataFrame({"word": [text], "business": [0], "entertainment": [0], "sport": [0], "tech": [1], "politics": [0]})
        df = pd.concat([df, new_word], ignore_index=True)

https://ieltspracticeonline.com/top-30-vocabulary-topics-technology/?amp

In [53]:
r = requests.get("https://ieltspracticeonline.com/top-30-vocabulary-topics-technology/?amp") #將此頁面的HTML GET下來
soup = BeautifulSoup(r.text,"html.parser") #將網頁資料以html.parser
sel = soup.select("div.td-post-content p strong") #取HTML標中的 <div class="title"></div> 中的<a>標籤存入sel
for s in sel:
    text = s.text.split('.')[1]
    if text[0] == ' ':
        text = text[1:].lower()
        
    if any(df["word"] == text):
        df.loc[df["word"] == text, 'tech'] = 1
    else:
        new_word = pd.DataFrame({"word": [text], "business": [0], "entertainment": [0], "sport": [0], "tech": [1], "politics": [0]})
        df = pd.concat([df, new_word], ignore_index=True)

# Politics

https://www.vocabulary.com/lists/16842

In [54]:
r = requests.get("https://www.vocabulary.com/lists/16842") #將此頁面的HTML GET下來
soup = BeautifulSoup(r.text,"html.parser") #將網頁資料以html.parser
sel = soup.select("a.word") #取HTML標中的 <div class="title"></div> 中的<a>標籤存入sel
for s in sel:
    text = s.text[1:].lower()
    if any(df["word"] == text):
        df.loc[df["word"] == text, 'politics'] = 1
    else:
        new_word = pd.DataFrame({"word": [text], "business": [0], "entertainment": [0], "sport": [0], "tech": [0], "politics": [1]})
        df = pd.concat([df, new_word], ignore_index=True)

https://www.vocabulary.com/lists/183710

In [55]:
r = requests.get("https://www.vocabulary.com/lists/183710") #將此頁面的HTML GET下來
soup = BeautifulSoup(r.text,"html.parser") #將網頁資料以html.parser
sel = soup.select("a.word") #取HTML標中的 <div class="title"></div> 中的<a>標籤存入sel
for s in sel:
    if s.text[0] == ' ':
        text = s.text[1:].lower()
        
    if any(df["word"] == text):
        df.loc[df["word"] == text, 'politics'] = 1
    else:
        new_word = pd.DataFrame({"word": [text], "business": [0], "entertainment": [0], "sport": [0], "tech": [0], "politics": [1]})
        df = pd.concat([df, new_word], ignore_index=True)

https://www.ecenglish.com/learnenglish/lessons/in-news-poltics-vocabulary

In [56]:
r = requests.get("https://www.ecenglish.com/learnenglish/lessons/in-news-poltics-vocabulary") #將此頁面的HTML GET下來
soup = BeautifulSoup(r.text,"html.parser") #將網頁資料以html.parser
sel = soup.select("div.content h2") #取HTML標中的 <div class="title"></div> 中的<a>標籤存入sel
for s in sel[:-1]:
    text = s.text.split(" / ")
    for t in text:
        t = t.lower()
        if any(df["word"] == t):
            df.loc[df["word"] == t, 'politics'] = 1
        else:
            new_word = pd.DataFrame({"word": [t], "business": [0], "entertainment": [0], "sport": [0], "tech": [0], "politics": [1]})
            df = pd.concat([df, new_word], ignore_index=True)

https://www.excellentesl4u.com/esl-politics-vocabulary.html

In [57]:
r = requests.get("https://www.excellentesl4u.com/esl-politics-vocabulary.html") #將此頁面的HTML GET下來
soup = BeautifulSoup(r.text,"html.parser") #將網頁資料以html.parser
sel = soup.select("div.Liner p b") #取HTML標中的 <div class="title"></div> 中的<a>標籤存入sel
for s in sel:
    text = s.text.split(':')[0].lower()
    if any(df["word"] == text):
        df.loc[df["word"] == text, 'politics'] = 1
    else:
        new_word = pd.DataFrame({"word": [text], "business": [0], "entertainment": [0], "sport": [0], "tech": [0], "politics": [1]})
        df = pd.concat([df, new_word], ignore_index=True)

https://www.englishclub.com/glossaries/politics.php

In [288]:
r = requests.get("https://www.englishclub.com/glossaries/politics.php") #將此頁面的HTML GET下來
soup = BeautifulSoup(r.text,"html.parser") #將網頁資料以html.parser
sel = soup.select("p strong") #取HTML標中的 <div class="title"></div> 中的<a>標籤存入sel
for s in sel:
    text = s.text.lower()
    if any(df["word"] == text):
        df.loc[df["word"] == text, 'politics'] = 1
    else:
        new_word = pd.DataFrame({"word": [text], "business": [0], "entertainment": [0], "sport": [0], "tech": [0], "politics": [1]})
        df = pd.concat([df, new_word], ignore_index=True)

In [1028]:
df = pd.read_csv("important_words.csv")
text = "perform".lower()
if any(df["word"] == text):
    df.loc[df["word"] == text, 'entertainment'] = 1
else:
    new_word = pd.DataFrame({"word": [text], "business": [0], "entertainment": [1], "sport": [0], "tech": [0], "politics": [0]})
    df = pd.concat([df, new_word], ignore_index=True)

In [1029]:
df = df.sort_values(by='word')
df.to_csv("important_words.csv", index=False)

In [1030]:
df

                        word  business  entertainment  sport  tech  politics
0                        3-d         0              1      0     0         0
1                         3d         0              1      0     0         0
2                     access         0              0      0     1         0
3     access to the internet         0              0      0     1         0
4                     accoun         1              0      0     0         0
...                      ...       ...            ...    ...   ...       ...
1786                zarzuela         0              1      0     0         0
1787     zero interest rates         1              0      0     0         0
1788            zombie funds         1              0      0     0         0
1789                     zoo         0              1      0     0         0
1790                    épée         0              0      1     0         0

[1791 rows x 6 columns]

In [1031]:
business_imp = df[df["entertainment"] == 1]
print(len(business_imp))

241

# -----------

In [418]:
from transformers import BertTokenizer
import torch
import numpy as np

tokenizer = BertTokenizer.from_pretrained('bert-base-cased')
df = pd.read_csv("important_words.csv")

In [419]:
df["tokens"] = [[] for _ in range(len(df.index))]

In [420]:
df

,word,business,entertainment,sport,tech,politics,tokens
0,3-d,0,1,0,0,0,[]
1,3d,0,1,0,0,0,[]
2,access to the internet,0,0,0,1,0,[]
3,accoun,1,0,0,0,0,[]
4,account number,1,0,0,0,0,[]
...,...,...,...,...,...,...,...
1448,zarzuela,0,1,0,0,0,[]
1449,zero interest rates,1,0,0,0,0,[]
1450,zombie funds,1,0,0,0,0,[]
1451,zoo,0,1,0,0,0,[]
1452,épée,0,0,1,0,0,[]

In [421]:
for i in range(len(df)):
    out = tokenizer(df.iloc[i, 0], padding='do_not_pad', \
                    max_length = 512, truncation=True, return_tensors="pt")
    
    for j in range(1, len(out["input_ids"][0]) - 1):
        df.iloc[i, 6].append(out["input_ids"][0][j].item())
df

,word,business,entertainment,sport,tech,politics,tokens
0,3-d,0,1,0,0,0,"[124, 118, 173]"
1,3d,0,1,0,0,0,"[124, 1181]"
2,access to the internet,0,0,0,1,0,"[2469, 1106, 1103, 7210]"
3,accoun,1,0,0,0,0,"[170, 14566, 3488]"
4,account number,1,0,0,0,0,"[3300, 1295]"
...,...,...,...,...,...,...,...
1448,zarzuela,0,1,0,0,0,"[195, 1813, 10337, 9945]"
1449,zero interest rates,1,0,0,0,0,"[6756, 2199, 5600]"
1450,zombie funds,1,0,0,0,0,"[16192, 4381]"
1451,zoo,0,1,0,0,0,[15003]
1452,épée,0,0,1,0,0,"[255, 1643, 8533]"